.summary_data
{
    display:flex;
    justify-content: space-evenly
}

.dataBlock{
    background-color: white;
    font-weight: 500;
    border-radius: 5px;
    color:#00b2ce;
    width:15%;
    height: 140px;
    margin:20px 5px 40px 5px;
}

.block_header{
    margin-top:5px;
    text-align: center;
    font-size: 1.1em;
}

.block_number{
    margin:10px;
    color:black;
    text-align: center;
    font-size: 3.0em;
    font-weight: 600;
}
.upper_title{
    margin:20px 0px 0px 50px;
    color:white;
    font-size: 1.8em;
    font-weight: 600;
}

.upper_header{
    display: flex;
    justify-content: space-between;
}

.dateRange{
    margin:20px 10px 10px 10px;
    padding: 5px 10px;
}
.dateRange .mat-form-field-underline{
    display: none;
}

.dateRange .mat-form-field-wrapper{
    padding-bottom: 0!important;
}

.dateRange .ngx-mat-drp-date-input{
    color:white!important;
}

.dateRange .ngx-mat-drp-date-input:hover{
    cursor: pointer;
}