 
    <mat-expansion-panel [expanded]="panelOpenState === true" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle="true" >
      <mat-expansion-panel-header [ngClass]="{'backgoundBlack':panelOpenState}">
        <mat-panel-title [ngClass]="{'backgoundBlack':panelOpenState}">
          Inventory
        </mat-panel-title>
        <div class="mat-expansion-indicator" [ngClass]="{'spin-animation':panelOpenState}"></div>
      </mat-expansion-panel-header>
      

      <button mat-button [ngClass]="{'hightLight':compoentIndex == 1}" class="zeroTop menuButton" (click)="buttonClick('bike')" >Bikes</button>

      <hr>
      <button mat-button [ngClass]="{'hightLight':compoentIndex == 2}" class="menuButton" (click)="buttonClick('lock')" >Locks</button>
      <hr>
      <button mat-button [ngClass]="{'hightLight':compoentIndex == 3}" class="menuButton" (click)="buttonClick('repair')" >Repair Tools</button>
      <hr>
    </mat-expansion-panel>
    <hr>

<button mat-button [ngClass]="{'hightLight':compoentIndex == 4}" class="menuButton" (click)="buttonClick('active')">Active Rental Records</button>
<hr>
<button mat-button [ngClass]="{'hightLight':compoentIndex == 5}" class="menuButton" (click)="buttonClick('archive')">Archive Rental Records</button>
<hr>
<button mat-button  [ngClass]="{'hightLight':compoentIndex == 6}" class="menuButton" (click)="buttonClick('user')">Users</button>
  <br> <br><br><br>
 
  <button class="btn btn-success" style="width:100%" > New Rental</button>

