
.btn-light{
  background-color:#8ca0b9;
  color:white;
}

.btn-light:hover{
  color:#003767!important;
  background-color: #dadada
}

.btn-light:focus{
  outline: 0;
}


mat-expansion-panel-header:hover{
  background-color:#dadada!important;
  
}
mat-panel-title:hover{
  color:black!important
}

.mat-expansion-panel-body{
  padding:0 0px 0 24px !important;
}

.mat-expansion-panel{
    box-shadow: unset!important;
    background: unset!important
  }

mat-expansion-panel-header{
  background: #eeeeee
}

.backgoundBlack{
    background-color: #dadada!important;
}

.spin-animation {
    transform: rotate(180deg);
}

.mat-expansion-indicator{
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  position: relative;
  right: 5px;
}
.zeroTop{
  margin-top:1rem!important;
}

.menuButton{
 
  text-align: left!important;  
  width:100%;
  color:#5f6368;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}

.menuButton:focus{outline: none!important}

.menuButton:hover{background-color: #dadada!important;color:black}

.hightLight{
  background-color:#dadada;
}

.show{
  -webkit-animation: show 2s forwards;
  animation: show 2s forwards;
}







