 
    <mat-expansion-panel [expanded]="panelOpenState === true" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle="true" >
      <mat-expansion-panel-header [ngClass]="{'backgoundBlack':panelOpenState}"  [expandedHeight]="'40px'" [collapsedHeight]="'40px'">
        <mat-panel-title style="color:#5f6368;font-weight: 500;font-family: Roboto,sans-serif;"[ngClass]="{'backgoundBlack':panelOpenState}">
          Inventory
        </mat-panel-title>
        <div class="mat-expansion-indicator" [ngClass]="{'spin-animation':panelOpenState}"></div>
      </mat-expansion-panel-header>
      

      <button mat-button [ngClass]="{'hightLight':componentIndex == 1}" class="zeroTop menuButton" (click)="buttonClick('bike')" >Bikes</button>

      <hr>
      <button mat-button [ngClass]="{'hightLight':componentIndex == 2}" class="menuButton" (click)="buttonClick('lock')" >Locks</button>
    </mat-expansion-panel>
    <hr >

<button mat-button [ngClass]="{'hightLight':componentIndex == 3}" class="menuButton" (click)="buttonClick('active')">Active Rental Records</button>
<hr>
<button mat-button [ngClass]="{'hightLight':componentIndex == 4}" class="menuButton" (click)="buttonClick('archive')">Archived Rental Records</button>
<hr>
<button mat-button  [ngClass]="{'hightLight':componentIndex == 5}" class="menuButton" (click)="buttonClick('customer')">Customers</button>
  <br> <br><br><br>

  <button class="btn btn-light" style="width:100%;font-family: 'Roboto'" (click)="buttonClick('newRental')"  *ngIf="!formDisplay && !customerFormDisplay && !waiverDisplay"> New Rental</button>

  <br *ngIf="!formDisplay && !customerFormDisplay"><br *ngIf="!formDisplay && !customerFormDisplay">

  <button class="btn btn-light" style="width:100%;font-family: 'Roboto'" (click)="buttonClick('newCustomer')"  *ngIf="!formDisplay && !customerFormDisplay && !waiverDisplay"> New Customer</button>

  <button class="btn btn-danger " style="width:100%;font-family: 'Roboto'" (click)="cancel('customer')" *ngIf="customerFormDisplay || waiverDisplay">Cancel</button>

  <button class="btn btn-danger " style="width:100%;font-family: 'Roboto'" (click)="cancel('rental')" *ngIf="formDisplay">Cancel Rental</button>
  <br><br>
  <button class="btn btn-success " style="width:100%;font-family: 'Roboto'" [disabled]="checkFormRequire('rental')" *ngIf="formDisplay" (click)="submit('rental')">Save Rental</button>

  <span *ngIf="checkFormRequire('rental') && formDisplay" class="text-danger" style="font-size: 0.7rem">Missing one or more require fields</span>


  <button class="btn btn-success " style="width:100%;font-family: 'Roboto'" [disabled]="checkFormRequire('waiver')" *ngIf="waiverDisplay" (click)="submit('waiver')">Save Customer</button>
  <button class="btn btn-success " style="width:100%;font-family: 'Roboto'" [disabled]="checkFormRequire('customer')" *ngIf="customerFormDisplay" (click)="submit('customer')"> Next</button>
  <span *ngIf="checkFormRequire('customer') && customerFormDisplay  || checkFormRequire('waiver')&& waiverDisplay" class="text-danger" style="font-size: 0.7rem">Missing one or more require fields</span>


