
mat-expansion-panel-header:hover{
  background-color:#dadada!important;
}
.mat-expansion-panel{
    box-shadow: unset!important;
  }

mat-expansion-panel-header{
  background: #eeeeee
}

.backgoundBlack{
    background-color: #dadada!important;
}

.spin-animation {
    transform: rotate(180deg);
}

.mat-expansion-indicator{
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  position: relative;
  right: 5px;
}
.zeroTop{
  margin-top:1rem!important;
}

.menuButton{
  font-weight: 400!important;
  text-align: left;  
  width:100%;
}

.menuButton:focus{outline: none!important}

.menuButton:hover{background-color: #dadada!important}

.hightLight{
  background-color:#dadada;
}

.show{
  -webkit-animation: show 2s forwards;
  animation: show 2s forwards;
}






