<mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
<div class="row" *ngIf="!showSpinner && !showForm">
    <div class="col-md-5 mx-auto">
<div class="container">
  <div class="card rounded-5">
    <div class="card-header">
      <h3 class="mb-0">Enter Sheridan ID</h3>
    </div>
    <div class="card-body">
      <form class="form">
        <div class="form-group">  
        <mat-form-field class="full-width">
              <input matInput placeholder="Sheridan ID" [formControl]="idFormControl"
                     [errorStateMatcher]="matcher" name="sheridanId" [(ngModel)]="sheridanId"  >
             
              <mat-error *ngIf="idFormControl.hasError('required')">
                Sheridan ID is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        
        <span class="error" >{{errorMsg}}</span>
        <button type="button" (click)="submitId()" [disabled]="idFormControl.hasError('required')" class="btn btn-light float-right">Submit</button>
      </form>
    </div>
    <!--/card-block-->
  </div>
  <!-- /form card login -->

</div>
</div>
</div>
<div class="row" *ngIf="!showSpinner && showForm">
    <mat-spinner  diameter='40' *ngIf="submitting" style="position: absolute;z-index: 10;"></mat-spinner>
    <div class="col-md-12 ">
        <div class="container">
            <form class="form">
                <mat-form-field class="full-width">
                  <input matInput placeholder="First Name *"  name="firstname"   disabled  [(ngModel)]="resultUserData['firstName']">
                </mat-form-field><br><br>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last Name *" name="lastname"   disabled  [(ngModel)]="resultUserData['lastName']">
                </mat-form-field><br><br>
                <table class="full-width" cellspacing="0"><tr>
                <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan ID *"  disabled  name="sheridanId" [(ngModel)]="resultUserData['sheridanId']">
                </mat-form-field></td>
                <td>
                    <mat-form-field class="full-width">
                    <mat-label>Select customer type *</mat-label>
                    <mat-select panelClass="selectdropdown"  name="type" [(ngModel)]="resultUserData['type']"  disabled>
                      <mat-option  value="STUDENT">
                        Student
                      </mat-option>
                      <mat-option value="STAFF">
                          Staff
                      </mat-option>
                      <mat-option value="FACULTY">
                          Faculty
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>    
                </tr>
                </table>           
                
                <br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan Email *"  name="sheridanEmail" disabled [(ngModel)]="resultUserData['sheridanEmail']">
                </mat-form-field><br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Personal Email *"   name="personalEmail"  disabled   [(ngModel)]="resultUserData['personalEmail']">
                </mat-form-field><br><br>
                
                <table class="full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="full-width">
                    <input  matInput placeholder="Phone *"  name="phone"  disabled [(ngModel)]="resultUserData['phone']">
                </mat-form-field></td>
                <td> <mat-form-field class="full-width">
                  <mat-label>Pick a Bike *</mat-label>
                  <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="bikeSelected" (selectionChange)="onChange()" [formControl]="bikeFormControl">
                    <mat-option *ngFor="let bike of bikeList" [ngStyle]="{'display': bike.bikeState == 'AVAILABLE' ? 'block':'none'}" [value]="bike.id ">
                      Bike #{{bike.id}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="bikeFormControl.hasError('required')">
                    Bike is <strong>required</strong>
                </mat-error>
                </mat-form-field></td>
              </tr></table>
                <br><br>

                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Additional Comment" name="comment" [(ngModel)]="comment"></textarea>

                </mat-form-field>
              </form>              
        </div>
    </div>
</div>
