<mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
<div class="row" *ngIf="!showSpinner && !showForm && !showWaiver">
    <div class="col-md-5 mx-auto">
<div class="container">
  <div class="card rounded-5">
    <div class="card-header">
      <h3 class="mb-0">Enter Sheridan ID</h3>
    </div>
    <div class="card-body">
      <form class="form">
        <div class="form-group">  
        <mat-form-field class="full-width">
              <input matInput placeholder="Sheridan ID" [formControl]="idFormControl"
                     [errorStateMatcher]="matcher" name="sheridanId" [(ngModel)]="sheridanId"  >
             
              <mat-error *ngIf="idFormControl.hasError('required')">
                Sheridan ID is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        
        <span class="error" >{{errorMsg}}</span>
        <button type="button" (click)="submitId()" [disabled]="idFormControl.hasError('required')" class="btn btn-light float-right">Submit</button>
      </form>
    </div>
    <!--/card-block-->
  </div>
  <!-- /form card login -->

</div>
</div>
</div>
<div class="row" *ngIf="!showSpinner && showForm && !showWaiver">
    <div class="col-md-12 ">

        <div class="container">

            <form class="form">
                <h3 style="color:#003767;position: relative; right:5px;">Customer Information</h3>
                <br>
                <table class="full-width" cellspacing="0">
                <tr>
                <td>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="First Name *"  name="firstname"   disabled  [(ngModel)]="resultUserData['firstName']">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Last Name *" name="lastname"   disabled  [(ngModel)]="resultUserData['lastName']">
                  </mat-form-field>
                </td>
                </tr>
                </table>
                <table class="full-width" cellspacing="0"><tr>
                <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan ID *"  disabled  name="sheridanId" [(ngModel)]="resultUserData['sheridanId']">
                </mat-form-field></td>
                <td>
                    <mat-form-field class="full-width">
                    <mat-label>Select customer type *</mat-label>
                    <mat-select panelClass="selectdropdown"  name="type" [(ngModel)]="resultUserData['type']"  disabled>
                      <mat-option  value="STUDENT">
                        Student
                      </mat-option>
                      <mat-option value="STAFF">
                          Staff
                      </mat-option>
                      <mat-option value="FACULTY">
                          Faculty
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>    
                </tr>
                </table>           
                <span *ngIf="hasPayableHistory" style="color:#003767;font-size: 0.8em">This customer has {{payableCount}} payable(s) in history.  <a class="redirectLink" style="text-decoration: underline!important" (click)="redirectArchivedPage()">Check on archived rental page.</a></span>

                <br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan Email *"  name="sheridanEmail" disabled [(ngModel)]="resultUserData['sheridanEmail']">
                </mat-form-field><br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Personal Email *"   name="personalEmail"  disabled   [(ngModel)]="resultUserData['personalEmail']">
                </mat-form-field><br><br>
                
                <table class="full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="full-width">
                    <input  matInput placeholder="Phone *"  name="phone"  disabled [(ngModel)]="resultUserData['phone']">
                </mat-form-field></td>

                <!--<td> <mat-form-field class="full-width">
                  <mat-label>Pick a Bike *</mat-label>
                  <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="bikeSelected" (selectionChange)="onChange()" [formControl]="bikeFormControl">
                    <mat-option *ngFor="let bike of bikeList" [ngStyle]="{'display': bike.state == 'AVAILABLE' ? 'block':'none'}" [value]="bike.id ">
                      Bike #{{bike.id}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="bikeFormControl.hasError('required')">
                    Bike is <strong>required</strong>
                </mat-error>
                </mat-form-field></td>-->
              </tr>
            </table>
            <br>
            <h3 style="color:#003767;;margin-top:30px">Rental Components</h3>
            <br>
            <mat-horizontal-stepper labelPosition="bottom" style="background-color: #eeeeee;position: relative;right:20px;width:110%" linear #stepper>
                <mat-step [stepControl]="bikeFormControl" >
                  <form [formGroup]="bikeFormControl">
                    <ng-template matStepLabel>Select a Bike *</ng-template>
                    <mat-form-field class="full-width">
                        <mat-label>Bike Component</mat-label>
                        <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="bikeSelected" (selectionChange)="onChange()" [formControl]="bikeFormControl">
                          <mat-option *ngIf="!checkAvaliableBikes()" disabled>Currently No Bike is Avaliable </mat-option>
                          <mat-option *ngFor="let bike of bikeList" [ngStyle]="{'display': bike.state == 'AVAILABLE' ? 'block':'none'}" [value]="bike.id ">
                            Bike #{{bike.name}}
                          </mat-option>
                          <mat-option value="Skip" style="background-color:#ffc107"> Skip </mat-option>
                        </mat-select>
                        <mat-error *ngIf="bikeFormControl.hasError('required')">
                          Bike is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                </mat-step>
                <mat-step [stepControl]="lockFormControl" >
                  <form [formGroup]="lockFormControl">
                    <ng-template matStepLabel>Select a Lock *</ng-template>
                    
                    <mat-form-field class="full-width">
                        <mat-label>Lock Component</mat-label>
                        <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="lockSelected" (selectionChange)="onChange()" [formControl]="lockFormControl">
                          <mat-option *ngIf="!checkAvaliableLocks()" disabled>Currently No Lock is Avaliable </mat-option>
                          <mat-option *ngFor="let lock of lockList" [ngStyle]="{'display': lock.state == 'AVAILABLE' ? 'block':'none'}" [value]="lock.id ">
                            Lock #{{lock.name}}
                          </mat-option>
                          <mat-option value="Skip" *ngIf="bikeSelected == 'Skip'" style="background-color:#ffc107"> Skip </mat-option>
                        </mat-select>
                        <mat-error *ngIf="lockFormControl.hasError('required')">
                          Lock is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                </mat-step>
                <mat-step [stepControl]="basketFormControl" >
                    <form [formGroup]="basketFormControl">
                      <ng-template matStepLabel>Select a Basket *</ng-template>
                      <mat-form-field class="full-width">
                          <mat-label>Basket Component</mat-label>
                          <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="basketSelected" (selectionChange)="onChange()" [formControl]="basketFormControl">
                            <mat-option *ngIf="!checkAvaliableBaskets()" disabled>Currently No Basket is Avaliable </mat-option>
                            <!--<mat-option *ngFor="let basket of basketList" [ngStyle]="{'display': key.keyState == 'AVAILABLE' ? 'block':'none'}" [value]="key.id ">
                              Basket #{{basket.id}}
                            </mat-option>-->
                            <mat-option value="Skip" style="background-color:#ffc107"> Skip </mat-option>
                          </mat-select>
                          <mat-error *ngIf="basketFormControl.hasError('required')">
                            Basket is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </form>
                  </mat-step>
                  <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <div style="display: flex">
                      <div>
                      <p style="color:#003767;margin-right:20px">Selected Components: </p>
                      </div>
                      <div>
                          <p style="color:#003767"> Bike: {{bikeSelected}}</p>
                          <p style="color:#003767"> Lock: {{lockSelected}}</p>
                          <p style="color:#003767"> Basket: {{basketSelected}}</p>
                          <span *ngIf="bikeSelected=='Skip' && basketSelected == 'Skip' && lockSelected=='Skip'" style="color:#dc3545">No component selected</span>
                      </div>
                      </div>
                    </mat-step>
              
              </mat-horizontal-stepper>
            <br>

                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Additional Comment" name="comment" [(ngModel)]="comment"></textarea>

                </mat-form-field>
              </form>              
        </div>
    </div>
</div>
<div class="row" *ngIf="!showSpinner && !showForm && showWaiver">
  <mat-spinner  diameter='40' *ngIf="submitting" style="position: absolute;z-index: 10;"></mat-spinner>
  <div class="col-md-12 " >
    <div class="container" style="background-color: white;border-radius: 5px;max-height: 80vh; overflow: auto;margin:5px">
      <h6  class="highLight" style="text-align: center; margin-top: 10px;">SHERIDAN BIKE HUB RENTAL PROGRAM: RELEASE OF LIABILITY, WAIVER OF CLAIMS, ASSUMPTION OF RISKS AND INDEMNITY AGREEMENT</h6>

      <h6 class="highLight" style="text-align: center;">WARNING: BY SIGNING THIS DOCUMENT YOU WILL WAIVE CERTAIN LEGAL RIGHTS, INCLUDING THE RIGHT TO SUE.</h6>
          
      <h6 class="highLight" style="text-align: center;">PLEASE READ CAREFULLY!</h6>
      <br>
      <p>I, the undersigned, do hereby acknowledge the following:</p>
      <p>1) I am at least 18 years of age;</p>
      <p>2) I am legally competent to sign this Release of Liability, Waiver of Claims, Assumption of Risks and Indemnity Agreement for participation in The Sheridan College Institute of Technology and Advanced Learning (“Sheridan”) Bike Hub Rental Program;</p>
      <p>3) I have the requisite cycling experience to operate the rental bike and I will not misuse or unduly abuse the rental bike;</p>
      <p>4) My use and/or participation in the Sheridan Bike Hub Rental Program is entirely voluntary;</p>
      <p>5) I have a personal duty and responsibility to learn and to follow road safety standards, guidelines, and procedures, and to operate the rental bike in a manner appropriate to any and all prevailing road and weather conditions. I understand that I need to wear a helmet at all times while operating the rental bike and practice safe cycling while the bike is in my possession. I also acknowledge that it is my responsibility to ensure that the rental bike is in good working condition at all times;</p>
      <p>6) I understand that I am responsible for the well being of the bike while it is under my possession, including theft and any physical damage to the bike, and I hereby am responsible for paying the costs of replacing or repairing the bike, and any additional costs associated with the loss of the bike, if such theft or damage occurs. I also acknowledge that I am responsible for maintaining function and ensuring replacement of the rental bike’s accessories including but not limited to lights, key, lock, and basket;</p>
      <p>7) In the event that the bike is not returned as and when due and I cannot be reached for two weeks after the return date, Sheridan Bike Hub will report the bike stolen to the Region of Peel Police; and</p>
      <p>8) I accept full responsibility for the rental bike for the duration of the rental and it is my responsibility to check for flaws, defects, and damage prior to accepting the rental bike. I understand that all charges for the rental are applied at the time that the bike is in my possession, whether it is in use or not.</p>
      <br>
      <h6 class="highLight">ASSUMPTION OF RISK:</h6>
      <p>I understand and accept that renting this bike and participating in cycling involves risks not limited to: loss or damage to personal property, all manner of personal injury, injury resulting from falling on uneven or slippery terrain including man made features, impacting against the floor, ground, trees, rocks, cement, course structures or other obstructions; impacting with other users of the road; potential for bone and muscular skeletal injury such as sprains and strains; any illness or injury resulting from exposure to cold, wet or windy weather, or the effects of heat and strong sunlight, or any insect bites/stings; any manner of injury or illness resulting from cycling; inability to access medical help in an emergency; cuts and abrasions from ground contact and/ or the bike; negligence of other road users; and other unforeseen dangers and risks. I have no medical conditions, nor have I been diagnosed with a condition that prevents me from cycling. </p>
      <p>I freely accept and fully assume all such risks, dangers and hazards and the possibility of personal injury, death, property damage or loss, resulting therefrom.</p>
      <br>
      <h6 class="highLight">RELEASE OF LIABILITY, WAIVER OF CLAIMS AND INDEMNITY AGREEMENT </h6>
      <p>In consideration of The Sheridan College Institute of Technology and Advanced Learning (“Sheridan”) Bike Hub Rental Program renting me this bike, I agree as follows:</p>
      <p>1.	TO WAIVE ANY AND ALL CLAIMS that I have or may have in the future against Sheridan, the Board of Governors of Sheridan and its members, officers, employees, students, agents, volunteers and independent contractors (all of whom are hereinafter collectively referred to as “Releasees”);</p>
      <p>2.	TO RELEASE THE RELEASEES from any and all liability for any loss, damage, injury or expense that I may suffer, or that my next of kin may suffer as a result of my participation in the Sheridan Bike Rental Program due to any cause whatsoever INCLUDING NEGLIGENCE, BREACH OF CONTRACT, OR BREACH OF ANY STATUTORY OR OTHER DUTY OF CARE; </p>
      <p>3.	TO HOLD HARMLESS AND INDEMNIFY THE RELEASEES from any and all liability for any damage to the property of, or personal injury to any third party, resulting from my participation in the Sheridan Bike Rental Program; and </p>
      <p>4.	This agreement shall be effective and binding upon my heirs, next of kin, executors, administrators, assigns and representatives in the event of death or incapacity. </p>
      <p>In entering into this Agreement, I am not relying upon any oral or written representations of statements made by the Releasees other than what is set forth in this Agreement. </p>
      <br>
      <h6 class="highLight">I HAVE READ AND UNDERSTOOD THIS AGREEMENT AND I AM AWARE THAT BY SIGNING THIS AGREEMENT I AM WAIVING CERTAIN LEGAL RIGHTS WHICH I OR MY HEIRS, NEXT OF KIN, EXECUTORS, ADMINISTERS AND ASSIGNS MAY HAVE AGAINST THE RELEASEES.  I DECLARE THAT I HAVE SIGNED IT FREELY AND WITHOUT ANY INDUCEMENT OR ASSURANCES OF ANY KIND WHATSOEVER. I AGREE THAT IF ANY PORTION OF THIS AGREEMENT IS HELD TO BE INVALID, THE REMAINDER SHALL CONTINUE IN FULL FORCE AND EFFECT.</h6>
      <br>
      <div style = "display: flex;flex-direction: column;text-align: center;">
        <mat-checkbox color='primary' name="waiverBox" [checked]="waiverFormRequire"  (change)="waiverCheck($event)">I have read and signed the waiver</mat-checkbox>
        <p>Signed this day of {{getDate()}}</p>  

      </div>
      <br>
      <h6 class="highLight">This Agreement must be completed in full, signed, dated, and witnessed prior to participation in the Sheridan Bike Rental Program. This agreement is valid for this academic year, from the date of signing until Aug 31, {{getAcdemicYear()}}.</h6>
    </div>
    </div>
</div>
