<mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
<div class="row" *ngIf="!showSpinner && !showForm">
    <div class="col-md-5 mx-auto">
<div class="container">
  <div class="card rounded-5">
    <div class="card-header">
      <h3 class="mb-0">Enter Sheridan ID</h3>
    </div>
    <div class="card-body">
      <form class="form">
        <div class="form-group">  
        <mat-form-field class="full-width">
              <input matInput placeholder="Sheridan ID" [formControl]="idFormControl"
                     [errorStateMatcher]="matcher" name="sheridanId" [(ngModel)]="sheridanId"  >
             
              <mat-error *ngIf="idFormControl.hasError('required')">
                Sheridan ID is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
        
        <span class="error" >{{errorMsg}}</span>
        <button type="button" (click)="submitId()" [disabled]="idFormControl.hasError('required')" class="btn btn-light float-right">Submit</button>
      </form>
    </div>
    <!--/card-block-->
  </div>
  <!-- /form card login -->

</div>
</div>
</div>
<div class="row" *ngIf="!showSpinner && showForm">
    <mat-spinner  diameter='40' *ngIf="submitting" style="position: absolute;z-index: 10;"></mat-spinner>
    <div class="col-md-12 ">

        <div class="container">

            <form class="form">
                <h3 style="color:#003767;position: relative; right:5px;">Customer Information</h3>
                <br>
                <mat-form-field class="full-width">
                  <input matInput placeholder="First Name *"  name="firstname"   disabled  [(ngModel)]="resultUserData['firstName']">
                </mat-form-field><br><br>
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last Name *" name="lastname"   disabled  [(ngModel)]="resultUserData['lastName']">
                </mat-form-field><br><br>
                <table class="full-width" cellspacing="0"><tr>
                <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan ID *"  disabled  name="sheridanId" [(ngModel)]="resultUserData['sheridanId']">
                </mat-form-field></td>
                <td>
                    <mat-form-field class="full-width">
                    <mat-label>Select customer type *</mat-label>
                    <mat-select panelClass="selectdropdown"  name="type" [(ngModel)]="resultUserData['type']"  disabled>
                      <mat-option  value="STUDENT">
                        Student
                      </mat-option>
                      <mat-option value="STAFF">
                          Staff
                      </mat-option>
                      <mat-option value="FACULTY">
                          Faculty
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>    
                </tr>
                </table>           
                
                <br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Sheridan Email *"  name="sheridanEmail" disabled [(ngModel)]="resultUserData['sheridanEmail']">
                </mat-form-field><br><br>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Personal Email *"   name="personalEmail"  disabled   [(ngModel)]="resultUserData['personalEmail']">
                </mat-form-field><br><br>
                
                <table class="full-width" cellspacing="0"><tr>
                  <td><mat-form-field class="full-width">
                    <input  matInput placeholder="Phone *"  name="phone"  disabled [(ngModel)]="resultUserData['phone']">
                </mat-form-field></td>
                <!--<td> <mat-form-field class="full-width">
                  <mat-label>Pick a Bike *</mat-label>
                  <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="bikeSelected" (selectionChange)="onChange()" [formControl]="bikeFormControl">
                    <mat-option *ngFor="let bike of bikeList" [ngStyle]="{'display': bike.bikeState == 'AVAILABLE' ? 'block':'none'}" [value]="bike.id ">
                      Bike #{{bike.id}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="bikeFormControl.hasError('required')">
                    Bike is <strong>required</strong>
                </mat-error>
                </mat-form-field></td>-->
              </tr>
            </table>

            <br>
            <h3 style="color:#003767">Rental Components</h3>
            <br>
            <mat-horizontal-stepper labelPosition="bottom" style="background-color: #eeeeee;position: relative;right:20px;width:110%" linear #stepper>
                <mat-step [stepControl]="bikeFormControl" >
                  <form [formGroup]="bikeFormControl">
                    <ng-template matStepLabel>Pick a Bike *</ng-template>
                    <mat-form-field class="full-width">
                        <mat-label>Pick a Bike *</mat-label>
                        <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="bikeSelected" (selectionChange)="onChange()" [formControl]="bikeFormControl">
                          <mat-option *ngIf="!checkAvaliableBikes()" disabled>Currently No Bike is Avaliable </mat-option>
                          <mat-option *ngFor="let bike of bikeList" [ngStyle]="{'display': bike.bikeState == 'AVAILABLE' ? 'block':'none'}" [value]="bike.id ">
                            Bike #{{bike.id}}
                          </mat-option>
                          <mat-option value="Skip"> Skip </mat-option>
                        </mat-select>
                        <mat-error *ngIf="bikeFormControl.hasError('required')">
                          Bike is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                </mat-step>
                <mat-step [stepControl]="lockFormControl" >
                  <form [formGroup]="lockFormControl">
                    <ng-template matStepLabel>Pick a Lock *</ng-template>
                    
                    <mat-form-field class="full-width">
                        <mat-label>Pick a Lock *</mat-label>
                        <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="lockSelected" (selectionChange)="onChange()" [formControl]="lockFormControl">
                          <mat-option *ngIf="!checkAvaliableLocks()" disabled>Currently No Lock is Avaliable </mat-option>
                          <mat-option *ngFor="let lock of lockList" [ngStyle]="{'display': lock.lockState == 'AVAILABLE' ? 'block':'none'}" [value]="lock.id ">
                            Lock #{{lock.id}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="lockFormControl.hasError('required')">
                          Lock is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                </mat-step>
                <mat-step [stepControl]="basketFormControl" >
                    <form [formGroup]="basketFormControl">
                      <ng-template matStepLabel>Pick a Basket *</ng-template>
                      <mat-form-field class="full-width">
                          <mat-label>Pick a Basket *</mat-label>
                          <mat-select panelClass="selectdropdown" [errorStateMatcher]="matcher" [(ngModel)]="basketSelected" (selectionChange)="onChange()" [formControl]="basketFormControl">
                            <mat-option *ngIf="!checkAvaliableBaskets()" disabled>Currently No Basket is Avaliable </mat-option>
                            <!--<mat-option *ngFor="let basket of basketList" [ngStyle]="{'display': key.keyState == 'AVAILABLE' ? 'block':'none'}" [value]="key.id ">
                              Basket #{{basket.id}}
                            </mat-option>-->
                            <mat-option value="Skip"> Skip </mat-option>
                          </mat-select>
                          <mat-error *ngIf="basketFormControl.hasError('required')">
                            Basket is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </form>
                  </mat-step>
                  <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p style="color:#003767">Picked Bike: {{bikeSelected}}</p>
                      <p style="color:#003767">Picked Lock: {{lockSelected}}</p>
                      <p style="color:#003767">Picked Basket: {{basketSelected}}</p>

                    </mat-step>
              
              </mat-horizontal-stepper>
            <br>

                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Additional Comment" name="comment" [(ngModel)]="comment"></textarea>

                </mat-form-field>
              </form>              
        </div>
    </div>
</div>
