.full-width{
    width:100%;
}


.card{
    border-radius: 5px;
}

.error{
    font-size: 0.8em;
    color:red;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  
  td {
    padding-right: 8px;
  }

  form{
      margin:auto;
  }

  .selectdropdown{
    opacity: 0.9!important;
    border-radius: 5px!important;
    overflow: scroll!important;
  }

  .mat-step-icon-selected,.mat-step-icon-state-edit{
    background-color: #003767!important;
  }