table {
    width:95%;
    text-align: center
}

th{
    text-align: center!important
}


mat-paginator{
    width: 95%;
}

.visible{
    visibility: visible;
}

.hide{
    visibility: hidden;
}



.full-width{
    width:90%;
}

button:focus{outline: none!important}

.table_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter_container{
    background:white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    width:95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search_box{
    display: flex;
    width:45%;
    justify-content: flex-end;
}

.search_type{
    margin:0 0 0 10px;
    padding-top:10px;
}

.search_type .mat-select{
    font-size: 0.8em!important;
}

.search_input{
    margin:0;
    display: flex;
    width:50%;
}

.search_input input{
    border-radius: 20px;
    height:50%;
    margin:auto;
    padding:0 15% 0 16%;
    border:1px solid lightgray;
    width:85%;
    font-size: 0.8em;
}

.search_input input:focus{
    outline:0;
}

.searchIcon{
    position:relative;
    top:28px;
    left:14%;
    display: block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 28px;
    background-image: url(~src/assets/images/baseline-search-24px.svg);

}

.mat-elevation-z8{
    box-shadow: none;
}

.table_name{
    margin:15px 0 0 5%;
    font-weight: 600;
    font-size: 1.9em;
    color:#073063;
    font-family: 'Roboto',sans-serif;
}
