
<div class="table_div">
  <mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
  <div class="filter_container" [ngClass]='dataSource!==undefined ? "visible":"hide"'>
    <div class="table_name">Customers</div>
    <div class="search_box">  
    <div class="search_type">
        <mat-form-field class="drop-width">
          <mat-label>Select search option</mat-label>
          <mat-select  [(value)]="searchType" >
              <mat-option  value="name">
                  <span class="text-secondary">Name</span>
              </mat-option>
              <mat-option  value="email">
                  <span class="text-secondary">Sheridan Email</span>
              </mat-option>
              <mat-option  value="ID">
                  <span class="text-secondary">Sheridan ID</span>
              </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="search_input">
        <div class="searchIcon"></div>
        <input  placeholder="Search by {{searchType}}" #input>
        <mat-spinner  diameter='20' style="margin:34px auto auto auto!important;right:14%"  [ngStyle]="{'visibility':$searching ? 'visible':'hidden'}"></mat-spinner>
      </div>
      </div>
    </div>
  <table [ngClass]='dataSource!==undefined ? "visible":"hide"' mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Sheridan Id Column -->
      <ng-container matColumnDef="sheridanId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sheridan Id </th>
        <td mat-cell *matCellDef="let element"> {{element.sheridanId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <!--column def need to match one of the element property, otherwise sorting not working-->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>
    
      <!-- Sheridan Email Column -->
      <ng-container matColumnDef="sheridanEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sheridan Email </th>
        <td mat-cell *matCellDef="let element"> {{element.sheridanEmail}} </td>
      </ng-container>
    
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Is Black Listed Column -->
      <ng-container matColumnDef="isBlackListed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Black Listed </th>
          <td mat-cell *matCellDef="let element"> {{element.isBlackListed}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [ngClass]='dataSource!==undefined ? "visible":"hide"' [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>