<div class="m-5 p-5 about-page">
    <h1>About Us</h1>
    <p>The Office for Sustainability (OfS) is collaborating with The Region of Peel to develop the Sheridan Bike Hub for the Hazel McCallion and Davis campuses. 
        The program builds on successful cycling initiatives already in place at the college and it aims to increase cycling for transportation among our students, 
        faculty and staff on both campuses.</p>
        <p>The present software aims to provide an overall better experience for the users, leading to having more people cycling. It also makes the users spend 
            less time on the management process, being able to focus on new projects or in improving the user’s experience in general</p>

    <h3>System Capabilities</h3>
    <ul>
        <li>Collecting and storing data on all users of the DIY and rental components</li>
        <li>Scanning OneCards for retrieving information on the user</li>
        <li>Creating and storing a waiver to be signed digitally by the user renting the equipment</li>
        <li>Collecting and storing data on all parts on stock, including information on current quantity on stock, reorder level, price and list of vendors</li>
        <li>Collecting and storing data on the equipment for rental, including bikes, locks and keys</li>
        <li>Keeping track of all equipment currently rented, clearly showing each due date, the user who rented and if there are any late returns</li>
        <li>Emailing users reminding of an arriving due date and warning users who are currently late</li>
        <li>Printing an invoice with all relevant information for users who are late with returning the equipment</li>
        <li>Providing clear reports on activities of both DIY and rental components</li>
        <li>Extracting the data collected into other formats, such as pdf and excel sheets</li>
        <li>Providing different levels of access to information, having fewer access by peer staff and full access to administrators</li>
        <li>Being accessible by multiple users in multiple locations, so that it can be used by any campus at any time and being easily scalable</li>
    </ul>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>