.header{
    height: 200px;
    background-color: white;
    width:90%;
    margin:auto;
    display: flex;
    border-radius: 8px;
    justify-content: space-around;
    margin-top: 20px;

}


.headerFlex{
    display: flex;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 7px;
    font-size: 3.0em;
    color:#073063;
}
.menuflexbox{
    position: relative;
    top:40px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.headerTitle{
    position: relative;
    right:12%;
    text-align: right;
    font-family: 'Trocchi', serif;

}

.menu{
    position: relative;
    top:20px;
    right: 12%;
    text-align: end;
}

.menu span{
    position: relative;
    top:30px;
}

.menu a{
    color:#003767;
    display: inline;
}

.verticalLine{
    position: initial;
    top:0!important;
}


.menu .active{
    color:#00b2ce;
    
}

.menu a:hover{
    color:#00b2ce;
}


img{
    max-width: 250px;
}

.footer-information {
    background: #003767;
    padding: 48px;
    overflow: hidden;
    width:100%;
    flex-shrink: 0;
    
}

.footer-information .content {
    max-width: 1056px;
    margin: 0px auto 0px;
}

.footer-information .align-left {
    font-size: 0.9em;
    line-height: 1.8;
}

.clear {
    clear: both;
}

.align-right {
    float: right;
}

.footer-logo {
    float: left;
    margin: 0 0 20px 0;
}

.footer-information p{
    color:white;
}


.app{
    flex: 2 0 auto;
    min-height: 80vh;
}

.imageBox{
    flex-grow: 1;
}






