.header{
    max-height: 200px;
    background-color: white;
    margin:auto;
    display: flex;
    width:100%;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    transition: 0.6s;
    top:0;
}


.headerFlex{
    display: flex;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 7px;
    font-size: 3.0em;
    color:#073063;
}
.menuflexbox{
    position: relative;
    padding-top:40px;
    display: flex;
    flex-direction: column;

}

.headerTitle{
    position: relative;
    text-align: right;
    font-family: 'Trocchi', serif;

}

.menu{
    top:20px;
    text-align: right;
    position: relative;
}

.menu > span{
    position: relative;
    top:30px;
}

.menu a{
    color:#003767;
    display: inline;
}

.verticalLine{
    position: initial;
    top:0!important;
}


.menu .active{
    color:#00b2ce;
    
}

.menu a:hover{
    color:#00b2ce;
}


.imageBox{
    position: relative;
}

img{
    position: relative;
    max-width: 250px;
}

.footer-information {
    background: #003767;
    padding: 48px;
    overflow: hidden;
    width:100%;
    flex-shrink: 0;
    
}

.footer-information .content {
    max-width: 1056px;
    margin: 0px auto 0px;
}

.footer-information .align-left {
    font-size: 0.9em;
    line-height: 1.8;
}

.clear {
    clear: both;
}

.align-right {
    float: right;
}

.footer-logo {
    float: left;
    margin: 0 0 20px 0;
}

.footer-information p{
    color:white;
}


.app{
    flex: 2 0 auto;
    min-height: 80vh;
}

.menu .mat-button{
  font-size: 1.0rem;
  font-weight: 400!important;
  font-family: '-apple-system','BlinkMacSystemFont',"Segoe UI",'Roboto',"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.menu  .mat-button:hover  > .mat-button-focus-overlay{
  opacity: 0!important;
}

.menu .mat-button .mat-menu-panel{
  background-color: transparent!important
}

 .mat-menu-content .mat-menu-item:focus{
  outline: none!important;
}

.moveImage{
    -webkit-animation-name: animateImage; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: animateImage;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;         /* When the spec is finished */
}

.moveTitle{
    -webkit-animation-name: animateTitle; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateTitle;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;         /* When the spec is finished */
}

.moveMenu{
    -webkit-animation-name: animateMenu; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateMenu;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

.TitleBack{
    -webkit-animation-name: animateTitleBack; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateTitleBack;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

.menuBack{
    -webkit-animation-name: animateMenuBack; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateMenuBack;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

.imageBack{
    -webkit-animation-name: animateImageBack; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: animateImageBack;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateTitleBack {
    0% { right:50vw; bottom:25px; font-size: 1.8em}
    100% { right:0; bottom:0; font-size: 3.0em}
  }
  
  /* Standard syntax */
  @keyframes animateTitleBack {
    0% { right:50vw; bottom:25px; font-size: 1.8em}
    100% { right:0; bottom:0; font-size: 3.0em}
  }


  /* Safari 4.0 - 8.0 */
@-webkit-keyframes animateMenuBack {
    0% { top:-90px;}
    100% { top: 0px;}
  }
  
  /* Standard syntax */
  @keyframes animateMenuBack {
    0% { top:-90px;left:15vw}
    100% { top: 0px;left:0vw}
  }


   /* Safari 4.0 - 8.0 */
@-webkit-keyframes animateImageBack {
    100% {width:250px;right:0;opacity: 1;}
    0% {  width:100px; right:15vw;opacity: 0;}
  }
  
  /* Standard syntax */
  @keyframes animateImageBack {
    100% {width:250px;right:0;opacity: 1;}
    0% {width:100px; right:15vw;opacity: 0;}
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateMenu {
    0% {top:0}
    100% { top:-90px; }
  }
  
  /* Standard syntax */
  @keyframes animateMenu {
    0%{top:0;left:0vw}
    100% { top:-90px; left:15vw }
  }



/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateTitle {
    0%{right:0;bottom:0}
    100% { right:50vw; bottom:25px; font-size: 1.8em}
  }
  
  /* Standard syntax */
  @keyframes animateTitle {
    0%{right:0;bottom:0}
    100% { right:50vw; bottom:25px; font-size: 1.8em}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes animateImage {
    0% {width:250px; right:0;opacity: 1;}
    100% {  width:100px; right:15vw;opacity: 0; display: none;}
  }
  
  /* Standard syntax */
  @keyframes animateImage {
    0% {width:250px; right:0;opacity: 1;}
    100% {  width:100px;right:15vw;opacity: 0;  display: none;}
  }


  .headerBG{
    -webkit-animation-name: animateBG; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateBG;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

.headerBGback{
    -webkit-animation-name: animateBGback; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.6s; /* Safari 4.0 - 8.0 */
    animation-name: animateBGback;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;    /* FF 5+ */
    -o-animation-fill-mode: forwards;      /* Not implemented yet */
    -ms-animation-fill-mode: forwards;     /* IE 10+ */
    animation-fill-mode: forwards;         /* When the spec is finished */
}

 /* Safari 4.0 - 8.0 */
 @-webkit-keyframes animateBG {
    0% {height: 200px;}
    100% {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);height:65px}
  }
  
  /* Standard syntax */
  @keyframes animateBG {
    0% {height: 200px;}
    100% { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);height:65px}
  }


   /* Safari 4.0 - 8.0 */
 @-webkit-keyframes animateBGback {
    0% {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
    100% { }
  }
  
  /* Standard syntax */
  @keyframes animateBGback {
    0% {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
    100% {}
  }

  





