<h1 mat-dialog-title>Rental ID: {{data.rentalId}}<button float="right" type="button" (click)="closeDialog()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</h1>
<div  class="dialog-content" mat-dialog-content>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Rental Information">
        <br>
    <table class="full-width" cellspacing="0"><tr>
        <td><mat-form-field class="full-width">
          <input matInput placeholder="Customer Name" disabled [(ngModel)]="data.customerName">
        </mat-form-field></td>
        <td><mat-form-field class="full-width">
          <input matInput placeholder="Sheridan ID" disabled [(ngModel)]="data.sheridanId">
        </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <input matInput placeholder="Bike ID" disabled [(ngModel)]="data.bikeId">
          </mat-form-field></td>
      </tr>
    </table>

    <br>

    <table class="full-width" cellspacing="0">
    <tr>
        <td><mat-form-field class="full-width">
            <input matInput placeholder="Sheridan Email" disabled [(ngModel)]="data.sheridanEmail">
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
              <input matInput placeholder="Personal Email" disabled [(ngModel)]="data.personalEmail">
            </mat-form-field></td>
    </tr>
  </table>
  
  <br>
  
  <table class="full-width" cellspacing="0">
    <tr>
        <td><mat-form-field class="full-width">
            <input matInput disabled [matDatepicker]="picker" placeholder="Signout Date" [value]="signOutDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
              <input matInput [matDatepickerFilter]="myFilter" [min]="dueDate" [matDatepicker]="duepicker" readonly  [disabled]="data.status == 'Late'?true:false" placeholder="Due Date" [(ngModel)]="dueDate">
             
              <mat-datepicker-toggle matSuffix [for]="duepicker"></mat-datepicker-toggle>
              <mat-datepicker #duepicker></mat-datepicker>
            </mat-form-field></td>
    </tr>
  </table>
  
  <br>
  <div class="container">
  <mat-form-field class="full-width">
      <textarea matInput placeholder="Additional Comment" name="comment" [(ngModel)]="data.comment"></textarea>
  </mat-form-field>
  
  </div>
  </mat-tab>
  <mat-tab label="Owing Amount/Return">
    </mat-tab>
    </mat-tab-group>
  </div>
  <hr>
 <mat-dialog-actions class="activeRentalDialog">

  <button *ngIf="!tabSwitch" class="btn btn-warning" style="font-weight: 500" mat-dialog-close (click)="saveChanges()">SAVE CHANGES</button>
  <button *ngIf="tabSwitch" class="btn btn-warning" style="font-weight: 500" mat-dialog-close (click)="closeCase()">MARK AS RETURN</button>


  <a *ngIf="!tabSwitch" class="redirectLink" (click)="closeDialog()" style="margin-right: 10px" >Cancel</a>
  <a *ngIf="tabSwitch" class="redirectLink" (click)="updateAmount()" >Update Owing Amount</a>


</mat-dialog-actions>

