<h1 mat-dialog-title>Rental ID: {{data.id}}<button float="right" type="button" (click)="closeDialog()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</h1>
<div  class="dialog-content" mat-dialog-content>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Rental Information">
        <h6 style="color:#003767;font-weight: 600;margin:25px 0 15px 0">Rental Components</h6>
            <div *ngFor="let item of data.rentalComponents; let i = index" style="margin:0 13px">
                <mat-form-field  *ngIf="item['@type']=='Bike'" class="full-width">
                    <input matInput placeholder="Bike ID" disabled [value]="item.name">
              </mat-form-field>
              <mat-form-field  *ngIf="item['@type']=='LockItem'" class="full-width">
                  <input  matInput placeholder="Lock ID" disabled [value]="item.name">
              </mat-form-field>
              <mat-form-field *ngIf="item['@type']=='Basket'" class="full-width">
                  <input  matInput placeholder="Basket ID" disabled [value]="item.name">
              </mat-form-field>
            </div>
        <table class="full-width" cellspacing="0" >
            <tr>
                <td><mat-form-field class="full-width">
                    <input matInput disabled [matDatepicker]="picker" placeholder="Signout Date" [value]="signOutDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field></td>
                  <td><mat-form-field class="full-width">
                      <input matInput [matDatepickerFilter]="myFilter" [min]="dueDate" [matDatepicker]="duepicker" readonly  [disabled]="data.rentalState == 'Late'?true:false" placeholder="Due Date" [(ngModel)]="dueDate">
                     
                      <mat-datepicker-toggle matSuffix [for]="duepicker"></mat-datepicker-toggle>
                      <mat-datepicker #duepicker></mat-datepicker>
                    </mat-form-field></td>
            </tr>
          </table>
        
          <br>
        <h6 style="color:#003767;font-weight: 600;margin-bottom: 15px">Customer Detail</h6>

    <table class="full-width" cellspacing="0"><tr>
        <td><mat-form-field class="full-width">
          <input matInput placeholder="Customer Name" disabled value="{{data.customer.firstName}} {{data.customer.lastName}}">
        </mat-form-field></td>
        <td><mat-form-field class="full-width">
          <input matInput placeholder="Sheridan ID" disabled [(ngModel)]="data.customer.sheridanId">
        </mat-form-field></td>
      </tr>
    </table>

    <br>
    

    <table class="full-width" cellspacing="0">
    <tr>
        <td><mat-form-field class="full-width">
            <input matInput placeholder="Sheridan Email" disabled [(ngModel)]="data.customer.sheridanEmail">
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
              <input matInput placeholder="Personal Email" disabled [(ngModel)]="data.customer.personalEmail">
            </mat-form-field></td>
    </tr>
  </table>
  <br>
  <mat-form-field class="full-width" style="margin:0 10px">
      <textarea matInput placeholder="Additional Comment" name="comment" [(ngModel)]="data.comment"></textarea>
  </mat-form-field>  
  </mat-tab>
  <mat-tab label="Receivables/Return">
    
          <hr style="margin-top: 0">
    <div style="display: flex;justify-content: space-between;margin:0 0 15px 0;height: 35px;">
    <h6 style="margin:10px 0;color:#003767;font-weight: 600">Receivables Summary</h6>
    <button mat-raised-button color="primary" style="font-size: 0.7em" [disabled]="checkEditModeOn()" (click)="addTableRow()">Add Custom Category</button>

    </div>
    <!--<div class="full-width expandable" *ngIf="newRowMode">
      <div>Drag a label to new category</div>
      <div style="display: flex;flex-wrap: wrap;justify-content: space-between">

        <span  style="margin:5px 15px;background-color: #8ca0b9;border-radius: 5px;padding:5px;color: white" *ngFor="let item of labels; let i = index">{{item}}</span>
      </div>
    </div>-->

    <table  class="full-width" style="color:#5f6368;margin:auto;table-layout: fixed">
      <tr class="tableHeader" style="border-bottom:solid 1px black" ><td class="alignleft">Category</td><td>Amount</td><td>Paid</td><td>Edit/Remove</td></tr>
      <tbody cdkDropList #example = "cdkDropList" [cdkDropListData] = "categoryList" [cdkDropListConnectedTo]="[predefine]" (cdkDropListDropped)="drop($event)">  
      <tr style="height:20px;" *ngIf="categoryList.length==0"><td></td><td></td><td></td><td></td><tr>
      <tr  *ngFor="let item of categoryList; let i = index">
            <td *ngIf="!isEditMode(i)" class="alignleft" style="height: 60px">
              {{item.category}}
            </td>
            <td *ngIf="isEditMode(i)" class="alignleft" style="height: 60px">
                <mat-form-field style="width:80%">
                  <input matInput required [formControl]="categoryNameControl"  [(ngModel)]="item.category">
                  <mat-error *ngIf="categoryNameControl.hasError('required')">
                     Name is <strong>required</strong>
                 </mat-error>
                </mat-form-field> 
                
            </td>
            <td *ngIf="!isEditMode(i)">
              ${{item.value}}
            </td>
            <td *ngIf="isEditMode(i)">
                <mat-form-field  style="width:80%">
                  <input matInput style="text-align: center" [formControl]="categoryValueControl" type="number" [(ngModel)]="item.value">
                  <mat-error *ngIf="categoryValueControl.hasError('required')">
                    Value is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
            </td>
            <td>
              <mat-checkbox  style="margin:0 10px;" color='primary' [disabled]="!isEditMode(i)"  [(ngModel)]="item.paid"  ></mat-checkbox>
            </td>
            <td *ngIf="!isEditMode(i)">
              <a class="penIcon"  matTooltipPosition="right"  [matTooltipDisabled]="!checkEditModeOn()" matTooltip="Confirm unsave category first" (click)="enterEditMode(i)">
                <mat-icon>create</mat-icon>
              </a>
            </td>
            <td *ngIf="isEditMode(i)">
              <div>
                <a class="editRentalIcon" [ngClass]="categoryNameControl.hasError('required') || categoryValueControl.hasError('required') ? 'disableIcon':''"  style="margin-right: 15px;color:#28a745" matTooltip="Confirm" matTooltipPosition="right" (click)="confirmEdit(i)">
                  <mat-icon>check</mat-icon>
                </a>
                <a  class="editRentalIcon" style="color:#dc3545" matTooltip="Remove Category"  matTooltipPosition="right"   (click)="deleteRow(i)">
                    <mat-icon>delete_outline</mat-icon>
                  </a>
                </div>
                <span style="font-size: 0.1em; color:#dc3545" *ngIf="componentNotInRental">
                    Component <strong>Not</strong> in the rental
                   </span>
              </td>
          </tr>
        </tbody>

      </table>
      
      <h6  *ngIf="categoryList.length==0" style="color:#073063;margin:20px;text-align: center">No receivables found for this rental.</h6>
      <div style="display: flex;justify-content: flex-end">
      <mat-checkbox  style="margin:0 10px;color:#073063;font-size: 0.7em" color='primary' [(ngModel)]="checkBoxState" >The rental is ready to be closed</mat-checkbox>
      </div>
      <hr style="margin-top: 0">
      <h6 style="color:#073063;font-weight: 600;">Drag The Following Pre-defined Category To The Table</h6>
        <div style="display: flex;flex-wrap: wrap;align-content: center" cdkDropList #predefine="cdkDropList" [cdkDropListData]="predefinedCat" [cdkDropListConnectedTo]="[example]">
          <span (mouseover)="hoverIn(i)" (mouseout)="hoverOut()"  [cdkDragDisabled]="dragDisable(category)" cdkDrag  [ngClass]="dragDisable(category) ? 'dragDisabled' :'dragCategory'" *ngFor="let category of predefinedCat; let i = index"  >{{hoverText && (i == currentIndex)?'$'+category['value']:category['category']}}</span>
        </div>

      <span  style="font-size: 0.8em;color:#5f6368;margin-left: 15px;">* You can add predifined categories in Settings</span>

    </mat-tab>
    </mat-tab-group>
  </div>
  <hr>

 
  <mat-dialog-actions class="activeRentalDialog">
  <button *ngIf="!tabSwitch" class="btn btn-warning" style="font-weight: 500" mat-dialog-close (click)="saveChanges()">SAVE CHANGES</button>
  <button *ngIf="tabSwitch && checkBoxState"  class="btn btn-warning" style="font-weight: 500"  (click)="returnRental()">RETURN RENTAL</button>
  <button *ngIf="tabSwitch && !checkBoxState" class="btn btn-warning" style="font-weight: 500" (click)="updateReceivables()">UPDATE RENTAL</button>
  <!--<span *ngIf="tabSwitch && !readyToClosed && checkEditModeOn()" style="font-size: 0.7em;
  color:#f44336;">Category still in edit mode</span> -->
  
  <span style="color:#003767" *ngIf="tabSwitch">Total: ${{total}}</span>
  <a  class="redirectLink" (click)="closeDialog()" style="margin-right: 10px" >Cancel</a>


</mat-dialog-actions>

