<div class="table_div">

  <mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
  <div class="filter_container" [ngClass]='dataSource!==undefined ? "visible":"hide"'>
    <div class="table_name">Archived Rental Records</div>
    <div class="search_box">  
    <div class="search_range_type">
        <mat-form-field class="drop-width">
          <mat-label>Select search option</mat-label>
          <mat-select  [(value)]="searchType" >
              <mat-option  value="signOut">
                  <span class="text-secondary">Sign out Date</span>
              </mat-option>
              <mat-option  value="dueDate">
                  <span class="text-secondary">Due Date</span>
              </mat-option>
              <mat-option  value="returnDate">
                  <span class="text-secondary">Return Date</span>
              </mat-option>

              <mat-option  value="ID">
                <span class="text-secondary">Sheridan ID</span>
            </mat-option>
            <mat-option  value="bikeID">
              <span class="text-secondary">Bike ID</span>
          </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="search_date" [ngStyle]="{'display': (searchType != 'ID' && searchType!='bikeID')?'':'none'}" >
        <ngx-mat-drp  (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker style="margin:10px 0 10px 10px;width:75%"></ngx-mat-drp>
        <mat-spinner  diameter='20' class="tableSpinner" [ngStyle]="{'visibility':$searching ? 'visible':'hidden'}" ></mat-spinner>
      </div>

      <div class="search_input" [ngStyle]="{'display': (searchType == 'ID' || searchType =='bikeID')?'':'none'}">
        <div class="searchIcon"></div>
        <input  placeholder="search by {{searchType}}" #input>
        <mat-spinner  diameter='20' style="margin:34px auto auto auto!important;right:24%"  [ngStyle]="{'visibility':$searching ? 'visible':'hidden'}"></mat-spinner>
      </div>
      </div>
    </div>
  <table [ngClass]='dataSource!==undefined ? "visible":"hide"' mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rental Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- sign out date Column -->
    <ng-container matColumnDef="signOutDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sign out Date </th>
      <td mat-cell *matCellDef="let element"> {{element.signOutDate | date}} </td>
    </ng-container>
  
    <!-- due date Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
    </ng-container>

    <!-- returned date Column -->
    <ng-container matColumnDef="returnedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Returned Date </th>
      <td mat-cell *matCellDef="let element"> {{element.returnedDate | date}} </td>
    </ng-container>
  
    <!-- status Column -->
    <ng-container matColumnDef="rentalState">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" [ngClass]="element.rentalState == 'Returned'? 'text-success':'text-danger'"> {{element.rentalState}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [ngClass]='dataSource!==undefined ? "visible":"hide"' [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>