<div class="py-5 home">
<div class="row">
<div class="col-lg-2">
      <app-left-menu (messageEvent)="receiveMessage($event)">
  </app-left-menu>
</div>

<div class="col-lg-10 ">
  <app-bike-inventory *ngIf="compoentIndex === 1"></app-bike-inventory>
  <app-lock *ngIf="compoentIndex === 2"></app-lock>
  <app-repair-tool *ngIf="compoentIndex === 3"></app-repair-tool>
  <app-active-record *ngIf="compoentIndex === 4"></app-active-record>
  <app-archive-record *ngIf="compoentIndex === 5"></app-archive-record>
  <app-user *ngIf="compoentIndex === 6"></app-user>
  <app-new-rental  *ngIf="compoentIndex === 7" ></app-new-rental>

</div>
</div>