<div class="py-5 home">
<div class="row">
<div class="col-lg-2">
      <app-left-menu (messageEvent)="receiveMessage($event)">
  </app-left-menu>
</div>

<div class="col-lg-10 ">
  <app-bike-inventory *ngIf="componentIndex === 1"></app-bike-inventory>
  <app-lock *ngIf="componentIndex === 2"></app-lock>
  <app-active-record *ngIf="componentIndex === 3"></app-active-record>
  <app-archive-record *ngIf="componentIndex === 4"></app-archive-record>
  <app-user *ngIf="componentIndex === 5"></app-user>
  <app-new-rental  *ngIf="componentIndex === 6" ></app-new-rental>

</div>
</div>