.full-width{
    width:100%!important;
}

mat-checkbox{
    font-size: 0.9em;
    float: right;
}

.card{
    border-radius: 5px;
}

.error{
    margin-bottom: 10px;
    font-size: 0.9em;
    color:#f44336;
}

.password-recover{
    text-align: center;
    padding-top: 15px;
    font-size: 0.8rem;
}


.login-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #073063;
    text-align: center;
}


.headerLogo{
    display: flex;
    justify-content: center;
}
