<div style="padding-top:6rem!important">
    <div class="mx-auto" style="width:450px!important">

      <!-- form card login -->
      <div class="card rounded-10">
        <div class="card-header">
          <h3 class="mb-0">Login</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">  
            <mat-form-field class="full-width">
                  <input matInput placeholder="Email" [formControl]="emailFormControl"
                         [errorStateMatcher]="matcher" name="email" [(ngModel)]="loginUserData.email"  >
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-checkbox color='primary' [(checked)]="checkedBox" (change)="rememberCheck($event)">Remember me</mat-checkbox>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width">
                  <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl"
                         [errorStateMatcher]="matcher"  name="password" [(ngModel)]="loginUserData.password" >
                  <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-spinner  diameter='20' *ngIf="submitting" style="margin:unset!important;display: inline;left:-25px" ></mat-spinner>
            </div>
            <span class="error" >{{errorMsg}}</span> 
            <button type="button" (click)="loginUser()" [disabled]="passwordFormControl.hasError('required') || emailFormControl.hasError('required') || emailFormControl.hasError('email')" 
            class="btn btn-success float-right">Login</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


</div>