<div>
<mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
    <div class="row">
        <div *ngFor="let item of bikes; let i = index">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">Bike ID: {{item.id}}</div>
                    <img class="card-img-top" src="./assets/images/{{item.imgPath}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text" [ngClass]="{'text-danger':!item.available,'text-success':item.available}">{{item.available?"Available":"Unavailable"}}</p>
                        <div style="display: flex;justify-content: space-between">
                        <a href="#" class="btn btn-warning">Details</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>


</div>