.row{
    justify-content: center
}
.bikeCard{
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
    max-width: 16rem;
}

.card-header{
    font-weight: 600;
}

.bikeCard img{
    margin-top:10px;
}

.bikeCard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.rented .mat-select-value{
    color: #dc3545 !important;
}

.available .mat-select-value{
    color: #28a745 !important;
}

.repair .mat-select-value{
    color: #6c757d !important;
}

