.row{
    justify-content: center
}
.card{
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 30px;
    max-width: 16rem;
}

.card-header{
    font-weight: 600;
}

img{
    margin-top:10px;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.red{
    color:red;
}

.green{
    color:#28a745;
}