<div>
<mat-spinner  diameter='40' *ngIf="showSpinner" ></mat-spinner>
    <div class="row" cdkDropListGroup>
        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()" ></div>
        <div *ngFor="let item of bikes; let i = index" cdkDropList  [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped()">
            <div class="col-lg card-container" cdkDrag (cdkDragMoved)="dragMoved($event);">
                <div class="card bikeCard">
                    <div class="card-header" cdkDragHandle >Bike ID: {{item.id}}</div>
                    <img class="card-img-top" src="./assets/images/{{item.imgPath}}" alt="Card image cap">
                    <div class="card-body">
                        <mat-form-field class="full-width">
                            <mat-label>Change Bike Status</mat-label>
                            <!--add one more class to show repair needed  -->
                            <mat-select [disabled]="item.bikeState == 'RENTED'" [(value)]="item.bikeState" [ngClass]="{'rented':bikes[i].bikeState == 'RENTED','available':bikes[i].bikeState == 'AVAILABLE','otherState':bikes[i].bikeState != 'RENTED' && bikes[i].bikeState != 'AVAILABLE'} " (selectionChange)="changeStatus(i)">
                                <mat-option  value="AVAILABLE">
                                    <span class="text-success">Available</span>
                                </mat-option>
                                <mat-option style="display:none" value="RENTED">
                                    <span class="text-danger">Rented</span>
                                </mat-option>
                                <mat-option  value="NEEDS_SAFETY_CHECK">
                                    <span class="text-secondary">Needs Safety Check</span>
                                </mat-option>
                                <mat-option  value="OUT_OF_SERVICE">
                                    <span class="text-secondary">Out of Service</span>
                                </mat-option>
                                <mat-option  value="IN_MAINTENANCE">
                                    <span class="text-secondary">In Maintenance</span>
                                </mat-option>
                                <mat-option  value="MISSING">
                                        <span class="text-secondary">Missing</span>
                                    </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="display: flex;justify-content: center">
                        <a  style="width:90%!important;border-radius:25px;color:white;font-weight: 600" (click)="openDialog(i,'modify')" class="btn btn-info">More Details</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>


</div>