<h1 mat-dialog-title *ngIf="action == 'modify'">Bike ID: {{bike.id}}
    <button float="right" type="button" (click)="onClick()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h1>
<h1 mat-dialog-title *ngIf="action == 'create'">Add a New Bike
    <button float="right" type="button" (click)="onClick()" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</h1>
<hr>
<div mat-dialog-content>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Manufacturer" [(ngModel)]="bike.manufacturer">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Product Code" [(ngModel)]="bike.productCode">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <br>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Serial Number" [(ngModel)]="bike.serialNumber">
                </mat-form-field>
            </td>
           <!-- unnessary to have change status drop down in bike dialog <td>
                <mat-form-field class="full-width">
                    <mat-label>Bike Status</mat-label>
                    <mat-select panelClass="selectdropdown" name="type" [(ngModel)]="bike.bikeState" (selectionChange)="onChange(5)">
                        <mat-option  value="AVAILABLE">
                            Available
                        </mat-option>
                        <mat-option value="RENTED">
                            Rented
                        </mat-option>
                        <mat-option value="OUT_OF_SERVICE">
                            Out of Service
                        </mat-option>
                        <mat-option value="NEEDS_SAFETY_CHECK">
                            Needs Safety Check
                        </mat-option>
                        <mat-option value="MISSING">
                            Missing
                        </mat-option>
                        <mat-option value="IN_MAINTENANCE">
                            In Maintenance
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>-->
        </tr>
    </table>
        
    <br>
    <div class="container">
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Additional Notes" name="notes" [(ngModel)]="bike.notes"></textarea>
        </mat-form-field>
    </div>

    <br>
    <div class="container">
        <div class="full-width">
            <img class="bike-image-dialog" src="./assets/images/{{bike.imgPath}}" alt="{{bike.id}} bike image">
        </div>
        <mat-dialog-actions class="full-width">
            <button class="btn btn-outline-dark change-image-dialog" (click)="changeImage()">Change Image</button>
        </mat-dialog-actions>
    </div>

   
</div>
   <hr>
<mat-dialog-actions class="close-dialog " *ngIf="action == 'modify'">
        <button class="btn btn-outline-dark" mat-dialog-close (click)="saveChanges()">Save Changes</button>
</mat-dialog-actions>
    
<mat-dialog-actions class="close-dialog " *ngIf="action == 'create'">
        <button class="btn btn-outline-dark" mat-dialog-close (click)="addBike()">Add Bike</button>
</mat-dialog-actions>