/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { overflow-y:scroll;height: 100%; }


body{
    min-height: 100vh;
    background-color: #eeeeee;
}

app-root{
    display:block;
    min-height: 100vh!important;
    display: flex;
    flex-direction: column;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #003767;
    }

    mat-spinner{
        margin: 25vh auto;
    }

.mat-sort-header-container{
        display:flex;
        justify-content: center!important;
}

.close{
    position: relative;
    left:5px;
    top:-20px;
    font-size: 2.0rem!important;
}


