/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html { overflow-y:scroll;height: 100%; }


body{
    min-height: 100vh;
    background-color: #eeeeee;
}

app-root{
    display:block;
    min-height: 100vh!important;
    display: flex;
    flex-direction: column;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #003767;
    }

    mat-spinner{
        margin: 25vh auto;
    }

.mat-sort-header-container{
        display:flex;
        justify-content: center!important;
}


.mat-dialog-container{
    overflow: hidden!important;
}


.mat-dialog-content{
   height:413px!important;
}

.close{
    position: relative;
    left:5px;
    top:-20px;
    font-size: 2.0rem!important;
}

.close.focus, .close:focus {
    outline: 0;
    box-shadow: none!important;
}


.dateRange .mat-form-field-underline{
    display: none;
}

.search_date .mat-form-field-underline{
    display: none;
}

.dateRange .mat-form-field-wrapper{
    padding-bottom: 0!important;
}

.search_date .mat-form-field-wrapper{
    padding-bottom: 0!important;
}

.dateRange .ngx-mat-drp-date-input{
    color:white!important;
}

.search_date .ngx-mat-drp-date-input{
    color:black!important;
}

.dateRange .ngx-mat-drp-date-input:hover{
    cursor: pointer;
}

.search_date .ngx-mat-drp-date-input:hover{
    cursor: pointer;
}

 .ngx-mat-drp-presets-list .ng-star-inserted{
     border-radius: 8px;
    color: #073063!important;
}

.ngx-mat-drp-presets-list .ng-star-inserted:hover{
    background-color: #073063!important;
    color:white!important;
}

.ng-star-inserted .mat-calendar-body-selected{
    background-color:#073063!important;
}

.ngx-mat-drp-controls .mat-primary{
    color:#073063;
}

.ngx-mat-drp-controls .mat-primary:hover{
    color:white;
    background-color: #073063;
}

.ngx-mat-drp-date-display{
    min-width:240px!important;
}


